@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Styl dla paska nawigacyjnego */
html, body {
    height: 100%; /* Strona zajmuje 100% wysokości okna przeglądarki */
    margin: 0; /* Usuń domyślne marginesy */
    display: flex;
    flex-direction: column; /* Elementy są układane w kolumnie */;
    font-size: 25px;
}



ul {
    font-family: 'Roboto', sans-serif;
    list-style-type: none; /* Usuń wypunktowanie */
    margin: 0;
    padding: 0;
    display: flex; /* Ustawienie elementów w jednej linii */
    justify-content: flex-start; /* Wyrównanie elementów do lewej */
    background-color: #333; /* Ciemny kolor tła nawigacji */
}

ul li {
    display: inline; /* Elementy w jednej linii */
}

ul li a {
    display: block;
    color: white; /* Białe litery */
    text-align: center;
    padding: 14px 20px; /* Odstępy między linkami */
    text-decoration: none; /* Usuń podkreślenie */
}

ul li a:hover {
    background-color: #575757; /* Efekt podświetlenia po najechaniu */
}

/* Styl dla sekcji treści */
#Content {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    flex: 5;
    padding: 30px;
    font-size: 25px;
    color:  #ffffffcb;
    background-color: #000000;
    font-weight: bold;/*pogrubienie tekstu*/
}
#team{/*to jest do zdjecia zalozycieli*/
    float: left;
    margin-right: 20px;
}
#o_firmie{ text-align: center;/*to jest do tekstu*/

}
#slowka{/*to jest do poszczegolnych slow w teksie o firmie */
    font-size: 28;
    color:rgb(248, 0, 0)

}

/* Styl dla stopki */
footer {
    font-family: 'Roboto', sans-serif;
    background-color: #333; /* Czarne tło */
    color: white; /* Białe litery */
    text-align: center; /* Tekst wyśrodkowany */
    padding: 15px 0; /* Odstępy w pionie */
    font-size: 20px; /* Rozmiar tekstu */
}

footer h2 {
    margin: 0; /* Usuń margines */
    font-size: 30px; /* Rozmiar czcionki */
    color: rgb(255, 255, 255);
}
/* Formularz nawigacyjny */
form {
    display: flex;
    gap: 10px; /* Odstępy między elementami formularza */
    align-items: center; /* Wyrównanie elementów w pionie */
    margin-top: 9px;
    margin-left: auto; /* Wypycha formularz na prawą stronę */
}

form input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #575757;
    color: white;
    cursor: pointer;}
